.orgSection{
    position: relative;
    padding: 0 25px;
}
.orgCaja{
    width: 100%;
    display: flex;
    justify-content: center;
}

.title{
    color: #6278F7;
    text-align: center;
    font-family: 'Prata', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    padding-bottom: 24px;
    border-bottom:4px solid #6278F7;
    display: inline-block;
}




.btnMostrar{
    position: absolute;
    left: 72%;
    top: 20%;
    cursor: pointer;
}

@media screen and (max-width:768px){
    .orgSection {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 16px;
    }
  
    .orgCaja{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title{
        color: #6278F7;
        text-align: center;
        font-family: 'Prata', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px;
        border-bottom: 6px solid #6278F7;
        display: inline-block;
        padding: 0;
    }
    
    
    
    
    .btnMostrar{
        position: unset;
        cursor: pointer;
        width: 88px;
    }

}

